---
layout: post
slug: aboutme
title: 关于我
noDate: 'true'
comments: 'false'
abbrlink: 19487
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn active" href="/aboutme/">自我简述</a>
  <a class="photos-btn" href="/photos/">我的相册</a>
	<a class="photos-btn" href="/movies">我的动漫</a>
</div>

<h3>个人介绍</h3>
<p id="nianq">年轻无为，卖马为生。</p>
<ul id="jieshao">
	<li>热爱动漫，但且只看热血漫；</li>
	<li>热爱IT，但且只有三分热度；</li>
	<li>热爱古风诗词，但且只是收藏记录；</li>
	<li>热爱玩机，但却不曾深入；</li>
</ul>
<p>正努力学习前端、JAVA、Python、Android...</p>
<p>2018年7月21日就职于中国铁路南昌局集团有限公司萍乡工务段</p>

<h3>本站介绍</h3>
<ul id="jieshao">
	<li>本站点创建于2017年11月份，域名为：<a href="http://gzx97.top" target="_blank">www.gzx97.top</a>,并托管至<a href="https://github.com/lb948174033/lb948174033.github.io" target="_blank">Github</a>，采用<a href="https://hexo.io/" target="_blank">Hexo</a>开源框架，在<a href="https://github.com/litten/hexo-theme-yilia" target="_blank">yilia</a>主题基础上进行修改。</li>
	<li>2018年3月份将站点托管至<a href="https://coding.net/" target="_blank">Coding</a>，同时将域名解析分为海外与境内两种方式。</li>
	<li>2018年9月份将站点同步至自己的个人服务器，并更换域名为：<a href="http://gzx97.com" target="_blank">wwww.gzx97.com</a></li>
</ul>
<p>因为个人喜好：简单、清新，所以本站围绕的风格也将是这两个方向，建站的初衷在于记录自己的学习历程与一些生活当中的感想，相册与壁纸类里面的图片皆来自于互联网。</p>

<h3>我的作品</h3>
<p id="nianq">待补充...</p>